.w-100 {
  width: 100%;
  padding-top: 10%;
}

.marBtn {
  margin: 0px 10px;
}

.flexClss {
  display: flex;
  align-items: center;
}

.profilePic {
  margin-right: 10px;
  border-radius: 50%;
  height: 10%;
  width: 10%;
}

.centerContent {
  display: flex;
  justify-content: center;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.noPreview {
  display: none;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.previewImage {
  display: block !important;
}

.addHeight {
  height: 300px;
}

.positionRight {
  position: absolute;
  right: 50px;
}

.comment-section {
  display: flex;
}

.form-section {
  display: flex;
  width: 100%;
}

.logout-section {
  padding: 20px;
}
.nomarg {
  margin: 0px !important;
}
.botMarg {
  margin: 10px 0px 20px 0px;
}

.no-post {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
